<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="flex justify-center items-center min-h-screen bg-gray-900 ml-16">
    <%- include('./parts/sidebar.ejs') %>

    <div class="flex-1">
    </div>
</body>
</html>