<div class="flex">
    <nav class="fixed left-0 top-0 h-full w-16 bg-gray-800 p-4 border-r border-gray-700">
        <div class="space-y-4">
            <a href="/home" class="block w-8 h-8 mx-auto">
                <img src="/svg/home" alt="Home" class="w-6 h-6 mx-auto" style="filter: invert(100%);">
            </a>
        </div>
    </nav>

    <nav class="fixed left-16 top-0 h-full w-64 bg-gray-800 p-4 border-r border-gray-700">
        <div class="space-y-4">
            <a class="block w-full h-8 px-4 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white rounded-md border border-gray-600 text-center flex items-center">
                <span class="flex items-center justify-center w-full">Add Friends</span>
            </a>
            <a class="block w-full h-8 px-4 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white rounded-md border border-gray-600 text-center flex items-center">
                <span class="flex items-center justify-center w-full">Create Group Chat</span>
            </a>
        </div>
    </nav>
</div>