<div class="flex">
    <nav class="fixed left-0 top-0 h-full w-16 bg-gray-800 p-4 border-r border-gray-700">
        <div class="space-y-4">
            <a href="/home" class="block w-8 h-8 mx-auto">
                <svg 
                    xmlns="/svg/home" 
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke-width="1.5" 
                    stroke="currentColor"
                    class="w-8 h-8 mx-auto transform transition-colors duration-200 <%= pathname === '/home' ? 'text-white' : 'text-gray-400' %>">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15a4.5 4.5 0 004.5 4.5H18a3.75 3.75 0 001.332-7.257 3 3 0 00-3.758-3.848 5.25 5.25 0 00-10.233 2.33A4.502 4.502 0 002.25 15z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12h-8.25V4.5M7.5 12h8.25V4.5M7.5 12h8.25V4.5" />
                </svg>
            </a>
        </div>
    </nav>

    <nav class="fixed left-16 top-0 h-full w-64 bg-gray-800 p-4 border-r border-gray-700">
        <div class="space-y-4">
        </div>
    </nav>
</div>